/* h1{
    color:green;
} */

/* websafe fonts do exist */
/* font-family: second font example if first doesn't work */

/* padding: top right bottom left */

/* *{} = every element */
/* *{
    margin: 0;
    padding: 0;
} */

body {
    background-color: #f4f4f4;
    color:#555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font: normal 16px, Arial, Helvetica, sans-serif;

    /* space in between lines */
    line-height:1.6em;
    /* space between sides */
    margin: 0;
}

/* will apply to any link on the page */
a{
    text-decoration: none;
    color:#000
}
a:hover{
    color:red;
}

/* flashes if you hover over it */
a:active{
    color:green;
}

/* visited thing was taught a bit weird */

/* imaginary container */
.container{
    /* px for set width, % responds to changing of window size */
    width:80%;
    /* even margin = margin:auto */
    margin:auto;
}

/* global */
.button {
    background-color:#333;
    color:#fff;
    padding: 10px 15px;
    border:none;
}

.button:hover{
    background: red;
    color: #fff;
}

.clr{
    clear:both;
}

/* to target a class, use . */
.box-1{
    background-color: #333;
    color:#fff;
    /* border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid; */
    /* same same */
    border: 5px red solid;
    border-width:3px;
    border-bottom-width:15px;
    /* solid, dotted, dashed, doubled and more available */
    border-top-style:dotted;

    border: 5px red solid;

    padding:20px;
    /* 0 = for right and left margins */
    margin:20px 0;
}

/* targeted */
.box-1 h1{
    font-family: Tahoma;
    font-weight:900;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;
}

.categories{
    border:1px #ccc solid;
    padding:10px;
    /* curved edges */
    border-radius:15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding:0;
    padding-left:20px;
    /* change bullet point type */
    list-style:square;
    list-style:none;
}

.categories li{
    padding-bottom:8px;
    border-bottom:dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.my-form{
    padding:20px;
}

.my-form .form-group{
    padding-bottom:15px;
}

.my-form label{
    /* will put labels on new line */
    display:block;
}

/* just 'input' will pertain to any input, including the button, which is an input 
    [type = x] to restrict selection
*/
.my-form input[type = 'text']{
    padding:8px;
    width:100%
}


.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    padding:10px;
    /* prevents width/padding clashes - padding adjusts to width */
    box-sizing:border-box;
}

#main-block{
    float:left;
    width:70%;
}

#sidebar{
    float:right;
    width:30%;
    background-color:#333;
    color:#fff;
    padding:15px;
    box-sizing:border-box;
}


